<div id="home" class="container" ng-controller="TodoController">
  <div>
    <input type="text" ng-model="query" placeholder="filter">
  </div>
  <ul class="unstyled">
    <li ng-repeat="todo in todos | filter:query">
      <input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{todo.description}}</span>
    </li>
  </ul>
  <form ng-submit="addTodo()">
    <input type="text" ng-model="todoText" placeholder="add new todo here">
    <input type="submit" class="btn btn-primary" value="Add">
  </form>
</div>