<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="scripts/jquery-1.9.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/todo.js"></script>

    <link href="content/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller="TodoController">
      <ul>
        <li ng-repeat="todo in todos">
          <span>{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText" placeholder="add new todo here" />
        <input type="submit" value="add" />
      </form>
    </div>    
  </body>
</html>