<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Todo-AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <link href="content/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="content/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Todo-AngularJS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" ng-controller="TodoController">
      <div>
        <input type="text" ng-model="query" placeholder="filter">
      </div>
      <ul>
        <li ng-repeat="todo in todos | filter:query">
          <span>{{todo.description}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText" placeholder="add new todo here">
        <button class="btn btn-primary" type="button">Add</button>
      </form>
    </div>  
    <script src="lib/jquery/jquery-1.9.1.min.js"></script>  
    <script src="lib/angularjs/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>